@media(grid: 0){
  @media(min-width: 900px){

    .container{
      background: aquamarine;
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 1fr 8fr 1fr / 1fr 4fr 1fr;
      grid-template-areas: 
      "logo header header"
      "nav content nav2"
      "footer footer footer"
      ;
    }

    .logo{
      background-color: #31364f;
      grid-area: logo;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header{
      background-color: burlywood;
      grid-area: header;
    }

    .nav{
      background-color: goldenrod;
      grid-area: nav;
    }

    .nav2{
      background-color: cornflowerblue;
      grid-area: nav2;
    }

    .content{
      background-color: aliceblue;
      grid-area: content;
    }

    .footer{
      background-color: gray;
      grid-area: footer;
    }
  }
}